@media screen and (max-width: 800px){

        .fa-bars{
            display: block;
            width: 50%;
            height: 50%;
            margin-left: 48%;
        }

        span#title{
            display: block;
            width: 100%;
            text-align: center;
            padding: 0;
        }
        li.responsive{
            display: none;
        }
        li{
            float: none;
            margin-top: 1rem;
        }
        form{
            float: none;
            width: 80%;
        }
        input{
            margin: 0;
        }
}
