

@media screen and (max-width: 800px){

        .fa-bars{
            display: block;
            width: 50%;
            height: 50%;
            margin-left: 48%;
        }

        span#title{
            display: block;
            width: 100%;
            text-align: center;
            padding: 0;
        }
        li.responsive{
            display: none;
        }
        li{
            float: none;
            margin-top: 1rem;
        }
        form{
            float: none;
            width: 80%;
        }
        input{
            margin: 0;
        }
}

body.dark{
    background-color: #000;
}
body.dark{
    color:#fff;
}
body.dark h4, body.dark h3, body.dark h1, body.dark h2 a{
    color:#fff;
}

body.dark section>article.card{
        background-color: rgb(78, 78, 78);
}

body.dark aside a{
    color: #fff;
}
