main.buy{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 31rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    margin: 1.5rem;
    background-color: rgb(238, 224, 224);
}


img{
    width: 70%;
    height: 80%;
    margin: auto;
}