@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}
body{
    transition: ease all 1s;
}
.center{
    margin: auto;
    margin-top: 10px;
}
header{
    display: block;
    width: 93%;
    max-width: 1000px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(253, 77, 115);
    color: #000;
    
}
.fa-bars{
    display: none;
    font-size: 1.4rem;
}

li{
    list-style: none;
    float: left;
    padding-left: 25px;
    font-size: 1.3rem;
}

button{
    border-style: none;
    background-color: transparent;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color:#000;
}

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .switch.active {
    background: orange;
    color: #000;
  }
  
  .switch.active::after {
    right: 0;
    left: unset;
  }
  
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }

form.display{
    display: none;
    width: 100%;
}
form{
    float: right;
}
input{
    border:none;
    margin-left: 20px;
    width: 120%;
    height: 23px;
}

span#title{
    list-style: none;
    float: left;
    padding-left: 10px;
    font-size: 1.3rem;
}

footer{
    width: 100%;
    height: 7.5rem;
    background-color: rgb(51, 51, 51);
    color: #fff;
}
.footer{
    display: grid;
    grid-template-columns: 50% 50%;
}
.gmail{
    text-align: center;
    margin: auto;
}
.foot{
    float: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-top: 3px;
}
footer>div>ul>li>i{
    font-size: 1.5rem;
}
.fa-facebook{
    color: rgb(24, 24, 253);
}
.fa-whatsapp{
    color: rgb(3, 228, 33);
}
.fa-twitter{
    color: rgb(3, 175, 228);
}